.Dog {
    display: flex;
    height: 125px;
    width: 100vw;
    background: lightgray;
}


.Dog-Image{
    position: relative;
    top: 10px;
    left: 10px;
    height: 100px;
    width: auto;
}

.Dog-section{
    position: relative;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Dog-input{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dog-inputLabel{
    font-weight: bold;
}

.Dog-buttons{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Dog-button{
    display: flex;
    /* flex-direction: column; */
    align-content: center;
}

.FindDog-input{
    width: 350px;
}