.Header-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 161px;
    width: 100vw;
    background: black;
}

.Header-h1{

    align-items: center;
    color: whitesmoke;
    font-size: 100px;
}