.FindDog{
    display: flex;
    flex-direction: row;
    background: orange;
    
}

.FindDog-randomDog{
    position: relative;
    text-align: center;
    color: white;
}

.findDog-ClickMe{
    position: absolute;
    bottom: 8px;
}



.FindDog-section{
    padding: 0px 8px;
    position: relative;
    width: calc(100vw - 300px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.FindDog-inputCol{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FindDog-input{
    width: 350px;
}
