.FindDog{
    display: flex;
    flex-direction: row;
    background: orange;
    
}

.FindDog-image{
    height: 300px;
    width: auto;
}

.FindDog-section{
    padding: 0px 8px;
    position: relative;
    width: calc(100vw - 300px);
    
    display: flex;
    flex-direction: row;
}

.FindDog-inputCol{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FindDog-input{
    width: 350px;
}